* text=auto eol=lf

*.blade.php diff=html
*.php diff=php
*.md diff=markdown

/.github export-ignore
/tests export-ignore
/.phpstan-cache export-ignore
/.phpunit.cache export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/testbench.yaml export-ignore
